/* Header */
header {
    background: url('c:\Users\ADMIN\Downloads\EM\HTML SITE\VIDAL AESTHETICS.png') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 4rem;
    font-size: 28px;
    font-weight: bold;
}
